### Problem Solution 1

In [2]:
tup = (1,2,3,4,5,6,7,8,9,10)

print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Problem Solution 2

In [6]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13)

first, middle, last = tup[0], tup[int(len(tup) / 2)], tup[-1]

print(first, middle, last)

1 7 13

### Problem Solution 3

In [9]:
print(tup[:4])
print(tup[-3:])
print(tup[2:5])

(1, 2, 3, 4)
(11, 12, 13)
(3, 4, 5)

### Problem Solution 4

In [11]:
matrix_tuple = ((1,2,3), (4,5,6), (7,8,9))

print(matrix_tuple)
print(matrix_tuple[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Problem Solution 5

In [12]:
tup1 = (1,2,3)
tup2 = (4,5,6)

concatentated_tuple = tup1 + tup2
print(concatentated_tuple)

(1, 2, 3, 4, 5, 6)

### Problem Solution 6

In [16]:
tup = (1,2,3,4,5,2,2,3,4,2)

print(tup.count(2))
print(tup.count(5))
print(tup.index(1))
print(tup.index(5))

4
1
0
4

### Problem Solution 7

In [22]:
tup = ('talha', 'maheen', 'zaviyar', 'huzaifa', 'afan')

name1, name2, name3, name4, name5 = tup

print(name1, name2, name3, name4, name5)

talha maheen zaviyar huzaifa afan

### Problem Solution 8

In [25]:
lst = [i for i in range(1,6)]

tuple(lst)

(1, 2, 3, 4, 5)

### Problem Solution 9

In [26]:
nested_tuples = ((1,2,3), (1,2,3), (1,2,3))

print(nested_tuples)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

### Problem Solution 10

In [31]:
tup = (1,2,3,4,5)

temperoray_lst = list(tup)
temperoray_lst.append(6)

tup = tuple(temperoray_lst)

print(tup)

(1, 2, 3, 4, 5, 6)

### Problem Solution 11

In [33]:
name = ('t', 'a', 'l', 'h', 'a')

print(' '.join(name))

t a l h a

### Problem Solution 12

In [36]:
dictionary = {('score' , 10)}
dictionary

{('score', 10)}

### Problem Solution 13

In [39]:
tup = ((1,2,3), (4,5,6), (7,8,9))

for item in tup:
    for value in item:
        print(value)

1
2
3
4
5
6
7
8
9

### Problem Solution 14

In [42]:
tup = (1,2,3,4,2,3,3,1,1,3,4,6,7,8,9,9,4,5,4,5,4,4,7)

tuple(set(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Problem Solution 15

In [45]:
def summarize_tuple(tup: tuple) -> tuple:
    '''
    Returns the summarization of the tuple e.g maximum, minimum and sum of the tuple
    '''

    minimum = min(tup)
    maximum = max(tup)
    sumbision = sum(tup)

    return minimum, maximum, sumbision

tup = (1,2,3,4,5,6,7,8,9,10)
minimum, maximum, sumbision = summarize_tuple(tup)

print(minimum, maximum, sumbision)

1 10 55