### Problem Solution 1

In [1]:
lst = [i for i in range(1,21)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Problem Solution 2

In [5]:
lst = [i for i in range(1,21)]

first, middle, last = lst[0], lst[int(len(lst) / 2)], lst[-1]

print(first, middle, last)

1 11 20

### Problem Solution 3

In [14]:
lst = [i for i in range(1,21)]

print(lst[:5])
print(lst[-6: -1])
print(lst[5: 15])

[1, 2, 3, 4, 5]
[15, 16, 17, 18, 19]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Problem Solution 4

In [15]:
lst = [i ** 2 for i in range(1,11)]

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Problem Solution 5

In [17]:
lst = [i ** 2 for i in range(1,11)]
new_lst = [i for i in lst if i % 2 == 0]

print(new_lst)

[4, 16, 36, 64, 100]

### Problem Solution 6

In [26]:
import numpy as np

lst = np.random.randint(1,10, (50, ))
no_duplicates = list(set(lst))
updated_list = sorted(no_duplicates)

print(updated_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Problem Solution 7

In [29]:
matrix = [[1,2,3] ,[1,2,3], [1,2,3]]
print(matrix)
print(matrix[1][2])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
3

### Problem Solution 8

In [38]:
students = [
    {'name' : 'zaviyar', 'score' : 60},
    {'name' : 'maheen', 'score' : 50},
    {'name' : 'talha', 'score' : 100},
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 92},
    {"name": "Charlie", "score": 78},
    {"name": "Diana", "score": 95},
    {"name": "Eve", "score": 88}
]

sorted(students, key=lambda student: student['score'], reverse=True)

[{'name': 'talha', 'score': 100},
 {'name': 'Diana', 'score': 95},
 {'name': 'Bob', 'score': 92},
 {'name': 'Eve', 'score': 88},
 {'name': 'Alice', 'score': 85},
 {'name': 'Charlie', 'score': 78},
 {'name': 'zaviyar', 'score': 60},
 {'name': 'maheen', 'score': 50}]

### Problem Solution 9

In [82]:
matrix = [[1,2,3], [4,5, 3], [7,8, 3]]

transpose_matrix = [[i[j] for i in matrix] for j in range(len(matrix))]

transpose_matrix

[[1, 4, 7], [2, 5, 8], [3, 3, 3]]

### Problem Solution 10

In [94]:
def flattens_list(lst):
    lst = [[1,2,3], [4,5, 3], [7,8, 3]]
    new_lst = []

    for i in lst:
        for j in range(len(i)):
            new_lst.append(i[j])

    return new_lst

nested_list = [[1,2,3], [4,5, 3], [7,8, 3]]
result = flattens_list(nested_list)
print(result)

[1, 2, 3, 4, 5, 3, 7, 8, 3]

### Problem Solution 11

In [99]:
lst = [i for i in range(1,11)]

del lst[2]
del lst[4]
del lst[6]

lst[5] = 99

print(lst)

[1, 2, 4, 5, 7, 99, 10]

### Problem Solution 12

In [102]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

for i,j in zip(lst1, lst2):
    print(i, j)

1 6
2 7
3 8
4 9
5 10

### Problem Solution 13

In [106]:
def reverse_list(lst):
    reversed_list = lst[::-1]

    return reversed_list

lst = [1,2,3,4,5,6,7,8,9]
result = reverse_list(lst)
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Problem Solution 14

In [108]:
def intersection(lst1, lst2):
    new_lst = []

    for i in lst1:
        for j in lst2:
            if i == j:
                new_lst.append(i)

    return new_lst

lst1 = [1,2,4,5,6,7,8]
lst2 = [1,4,2,5,6,7,4]

result = intersection(lst1, lst2)
print(result)

[1, 2, 4, 4, 5, 6, 7]

### Problem Solution 15

In [5]:
lst = [1,2,3,4,5]

lst[-2:] + lst[:-2]

[4, 5, 1, 2, 3]