### Problem Solution 1

In [7]:
st = {i for i in range(1,11)}

print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Problem Solution 2

In [11]:
st.add(11)
st.discard(1)

print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Problem Solution 3

In [16]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,0}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))
print(set1.symmetric_difference(set2))

{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{1, 3, 5}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

### Problem Solution 4

In [17]:
set_comprehension = {i ** 2 for i in range(1,11)}

print(set_comprehension)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Problem Solution 5

In [19]:
st = {i for i in range(1,11)}
filtered_set = {i for i in st if i % 2 == 0}

print(filtered_set)

{2, 4, 6, 8, 10}

### Problem Solution 6

In [21]:
st = {1,2,3,4,2,2,3,4,5,6,7,7,8,9,0,3,4,2,5,6,4,7,8,4}

print(st)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Problem Solution 7

In [25]:
set1 = {1,2,3,4,5}
set2 = {1,3,5}

print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

### Problem Solution 8

In [30]:
# st = {'talha', 'maheen'}

# st.add('zaviyar')

st = {1,2,3,4,5}
st = frozenset(st)

print(st)

frozenset({1, 2, 3, 4, 5})

### Problem Solution 9

In [34]:
# st = {1,2,3,4,5}
# st.add(6)

# print(st)

st = {1,2,3,4,5}
temp = list(st)

temp.append(6)

st = set(temp)
print(st)

{1, 2, 3, 4, 5, 6}

### Problem Solution 10

In [41]:
dictionary = {('score') : 10}
dictionary

{'score': 10}

### Problem Solution 11

In [42]:
names = {'talha', 'maheen', 'umer', 'huzaifa', 'zaviyar'}

for name in names:
    print(name)

maheen
zaviyar
umer
huzaifa
talha

### Problem Solution 12

In [46]:
names = {'talha', 'maheen', 'umer', 'huzaifa', 'zaviyar'}

names.discard('talha')
print(names)

names.discard('maheen')
print(names)

names.discard('umer')
print(names)

names.discard('huzaifa')
print(names)

names.discard('zaviyar')
print(names)

{'maheen', 'zaviyar', 'umer', 'huzaifa'}
{'zaviyar', 'umer', 'huzaifa'}
{'zaviyar', 'huzaifa'}
{'zaviyar'}
set()

### Problem Solution 13

In [49]:
set1 = {1,2,3,4,3,5,2}
set2 = {6,7,8,9,9,5,0}

set1.symmetric_difference_update(set2)

set1

{0, 1, 2, 3, 4, 6, 7, 8, 9}

### Problem Solution 14

In [51]:
st = {'talha', 'maheen', 'zaviyar'}

print('talha' in st)
print('huzaifa' in st)

True
False

### Problem Solution 15

In [55]:
set_tuples = {('talha', 10), ('maheen', 40), ('zaviyar', 50)}

print(set_tuples)

{('maheen', 40), ('zaviyar', 50), ('talha', 10)}