### Problem Solution 1

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1,10, (6, 4)))
df.head()

   0  1  2  3
0  4  4  2  3
1  2  5  3  3
2  5  1  3  2
3  9  9  1  3
4  4  9  9  3

### Problem Solution 1.2

In [4]:
columns = ['A', 'B', 'C']
indexes = ['X', 'Y', 'Z']
values = np.random.randint(1,10, (3,3))

df = pd.DataFrame(values, columns=columns, index=indexes)
df.head()

   A  B  C
X  1  6  7
Y  9  7  3
Z  9  1  1

### Problem Solution 2

In [5]:
df = pd.DataFrame(np.random.randint(1,10, (5,3)))
df.head()

   0  1  2
0  2  9  2
1  1  2  1
2  2  8  6
3  8  4  3
4  2  6  3

In [6]:
df[3] = df[0] * df[1]
df.head()

   0  1  2   3
0  2  9  2  18
1  1  2  1   2
2  2  8  6  16
3  8  4  3  32
4  2  6  3  12

### Problem Solution 2.2

In [7]:
df = pd.DataFrame(np.random.randint(1,10, (4,3)))
df.head()

   0  1  2
0  6  4  7
1  9  7  8
2  6  6  3
3  4  8  7

### Problem Solution 3

In [12]:
df = pd.DataFrame(np.random.randint(1,10, (5, 3)))
df.head()

   0  1  2
0  6  6  8
1  8  5  6
2  2  5  4
3  4  5  8
4  1  9  6